In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import re

In [8]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 10
page_size = 100
reviews = []

# for i in range(1, pages + 1)
for i in range(1, pages + 1):
    print(f"Scraping page{i}")

Scraping page1
Scraping page2
Scraping page3
Scraping page4
Scraping page5
Scraping page6
Scraping page7
Scraping page8
Scraping page9
Scraping page10

In [2]:
data=pd.read_csv('C:\data\BA_reviews.csv')

In [3]:
data

     Unnamed: 0                                            reviews
0             0  Not Verified | Regarding the aircraft and seat...
1             1  Not Verified | I travelled with British Airway...
2             2  Not Verified |  Food was lousy. Who ever is pl...
3             3  ✅ Trip Verified | Had the worst experience. Th...
4             4  ✅ Trip Verified |  The ground staff were not h...
..          ...                                                ...
995         995  ✅ Trip Verified |  Mumbai to Edinburgh via Lon...
996         996  ✅ Trip Verified |  Mumbai to London Heathrow. ...
997         997  ✅ Trip Verified |  Delhi to London. Having rea...
998         998  ✅ Trip Verified | When you travel British Airw...
999         999  ✅ Trip Verified |  British Airways gets plenty...

[1000 rows x 2 columns]

In [11]:
#Removing unwanted column
data['Unnamed: 0']

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Name: Unnamed: 0, Length: 1000, dtype: int64

In [4]:
data.drop('Unnamed: 0', axis=1, inplace=True)

print(data)

In [5]:
data['reviews']

0      Not Verified | Regarding the aircraft and seat...
1      Not Verified | I travelled with British Airway...
2      Not Verified |  Food was lousy. Who ever is pl...
3      ✅ Trip Verified | Had the worst experience. Th...
4      ✅ Trip Verified |  The ground staff were not h...
                             ...
995    ✅ Trip Verified |  Mumbai to Edinburgh via Lon...
996    ✅ Trip Verified |  Mumbai to London Heathrow. ...
997    ✅ Trip Verified |  Delhi to London. Having rea...
998    ✅ Trip Verified | When you travel British Airw...
999    ✅ Trip Verified |  British Airways gets plenty...
Name: reviews, Length: 1000, dtype: object

In [6]:
import nltk
from nltk.corpus import stopwords
sw_nltk = stopwords.words('english')
print(sw_nltk)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [7]:
data['reviews']

0      Not Verified | Regarding the aircraft and seat...
1      Not Verified | I travelled with British Airway...
2      Not Verified |  Food was lousy. Who ever is pl...
3      ✅ Trip Verified | Had the worst experience. Th...
4      ✅ Trip Verified |  The ground staff were not h...
                             ...
995    ✅ Trip Verified |  Mumbai to Edinburgh via Lon...
996    ✅ Trip Verified |  Mumbai to London Heathrow. ...
997    ✅ Trip Verified |  Delhi to London. Having rea...
998    ✅ Trip Verified | When you travel British Airw...
999    ✅ Trip Verified |  British Airways gets plenty...
Name: reviews, Length: 1000, dtype: object

In [8]:
unwanted_text = ["Not Verified"]

# Use the str.contains() method to create a boolean mask for unwanted rows
mask = data['reviews'].str.contains('|'.join(unwanted_text))

# Invert the mask to keep only the rows that don't contain unwanted text
data = data[~mask]

# Display the filtered DataFrame
print(data)

                                               reviews
3    ✅ Trip Verified | Had the worst experience. Th...
4    ✅ Trip Verified |  The ground staff were not h...
5    ✅ Trip Verified |  Second time BA Premium Econ...
8    ✅ Trip Verified |  Worst experience of my life...
9    ✅ Trip Verified |  Due to code sharing with Ca...
..                                                 ...
995  ✅ Trip Verified |  Mumbai to Edinburgh via Lon...
996  ✅ Trip Verified |  Mumbai to London Heathrow. ...
997  ✅ Trip Verified |  Delhi to London. Having rea...
998  ✅ Trip Verified | When you travel British Airw...
999  ✅ Trip Verified |  British Airways gets plenty...

[813 rows x 1 columns]

In [17]:
data

                                               reviews
3    ✅ Trip Verified | Had the worst experience. Th...
4    ✅ Trip Verified |  The ground staff were not h...
5    ✅ Trip Verified |  Second time BA Premium Econ...
8    ✅ Trip Verified |  Worst experience of my life...
9    ✅ Trip Verified |  Due to code sharing with Ca...
..                                                 ...
995  ✅ Trip Verified |  Mumbai to Edinburgh via Lon...
996  ✅ Trip Verified |  Mumbai to London Heathrow. ...
997  ✅ Trip Verified |  Delhi to London. Having rea...
998  ✅ Trip Verified | When you travel British Airw...
999  ✅ Trip Verified |  British Airways gets plenty...

[813 rows x 1 columns]

In [18]:
data['reviews']

3      ✅ Trip Verified | Had the worst experience. Th...
4      ✅ Trip Verified |  The ground staff were not h...
5      ✅ Trip Verified |  Second time BA Premium Econ...
8      ✅ Trip Verified |  Worst experience of my life...
9      ✅ Trip Verified |  Due to code sharing with Ca...
                             ...
995    ✅ Trip Verified |  Mumbai to Edinburgh via Lon...
996    ✅ Trip Verified |  Mumbai to London Heathrow. ...
997    ✅ Trip Verified |  Delhi to London. Having rea...
998    ✅ Trip Verified | When you travel British Airw...
999    ✅ Trip Verified |  British Airways gets plenty...
Name: reviews, Length: 813, dtype: object

In [19]:
#Removing unwanted characters

unwanted_word=["✅", "Trip Verified", "|"]
for word in unwanted_word:
   data['reviews']=data['reviews'].str.replace(word,'')

C:\Users\PC\AppData\Local\Temp/ipykernel_7508/2698533412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['reviews']=data['reviews'].str.replace(word,'')
C:\Users\PC\AppData\Local\Temp/ipykernel_7508/2698533412.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['reviews']=data['reviews'].str.replace(word,'')

In [20]:
alphaPattern = "[^a-zA-Z0-9]"

In [21]:
for review in data['reviews']:
    review.lower()

In [22]:
!pip install textblob

Requirement already satisfied: textblob in c:\programdata\anaconda3\conda\lib\site-packages (0.17.1)

WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\programdata\anaconda3\conda\lib\site-packages)

Requirement already satisfied: nltk>=3.1 in c:\programdata\anaconda3\conda\lib\site-packages (from textblob) (3.6.5)
Requirement already satisfied: click in c:\programdata\anaconda3\conda\lib\site-packages (from nltk>=3.1->textblob) (8.0.3)
Requirement already satisfied: joblib in c:\programdata\anaconda3\conda\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\conda\lib\site-packages (from nltk>=3.1->textblob) (2021.8.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\conda\lib\site-packages (from nltk>=3.1->textblob) (4.62.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\conda\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -pencv-python (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution -mpy (c:\programdata\anaconda3\conda\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\conda\lib\site-packages)

In [23]:
#importing textblob library
from textblob import TextBlob

text = data['reviews'][8]
analysis = TextBlob(text)

# Check the sentiment polarity
if analysis.sentiment.polarity > 0:
    print("Positive sentiment")
elif analysis.sentiment.polarity < 0:
    print("Negative sentiment")
else:
    print("Neutral sentiment")

Negative sentiment

In [24]:
data

                                               reviews
3       Had the worst experience. The flight from L...
4        The ground staff were not helpful. Felt li...
5        Second time BA Premium Economy in a newer ...
8        Worst experience of my life trying to deal...
9        Due to code sharing with Cathay Pacific I ...
..                                                 ...
995      Mumbai to Edinburgh via London. I'm quite ...
996      Mumbai to London Heathrow. Disappointing e...
997      Delhi to London. Having read many negative...
998     When you travel British Airways its like yo...
999      British Airways gets plenty of well deserv...

[813 rows x 1 columns]

In [25]:

nltk.download('vader_lexicon')

[nltk_data] Error loading vader_lexicon: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

False

In [10]:

sentimm= []
# Iterate through each row and print the sentiment value
##for index, row in data.iterrows():
  #  text = row['reviews']
   # analysis = TextBlob(text)
    #sentiment = analysis.sentiment.polarity
   # data['Sentiment']=[]
    #if sentiment > 0:
     #   sentiment_label = "Positive"
    #elif sentiment < 0:
     #   sentiment_label = "Negative"
    #else:
     #   sentiment_label = "Neutral"
    #sentimm.append(sentiment_label)
    #print(f"{index}: Sentiment: {sentiment_label} ({sentiment:.2f})")
from nltk.sentiment.vader import SentimentIntensityAnalyzer

for index, row in data.iterrows():
    text = row['reviews']
    analyzer = SentimentIntensityAnalyzer()
#sentence = "I love this product! It's amazing."
    sentiment_scores = analyzer.polarity_scores(text)
    
    # Checking the sentiment polarity
    if sentiment_scores['compound'] >= 0.05:
        sentiment_label = "Positive"
    elif sentiment_scores['compound'] <= -0.05:
        sentiment_label = "Negative"
    else:
        sentiment_label = "Neutral"
    #print(sentiment_label)
    sentimm.append(sentiment_label)

In [27]:
print(sentimm)

['Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Neutral', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Neutral', 'Negative', 'Negative', 'Positive', 'Neutral', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Neutral', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Neutral', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Neutral', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Neutral', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Neutral', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Neutral', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Neutral', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Neutral', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Neutral', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Negative', 'Negative', 'Negative', 'Positive', 'Positive', 'Positive', 'Positive', 'Positive']

In [28]:
data['Sentiment']= sentimm

C:\Users\PC\AppData\Local\Temp/ipykernel_7508/1811233797.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sentiment']= sentimm

In [29]:
data['Sentiment']

3      Negative
4      Negative
5      Positive
8      Negative
9      Negative
         ...
995    Positive
996    Positive
997    Positive
998    Positive
999    Positive
Name: Sentiment, Length: 813, dtype: object

In [30]:
data

                                               reviews Sentiment
3       Had the worst experience. The flight from L...  Negative
4        The ground staff were not helpful. Felt li...  Negative
5        Second time BA Premium Economy in a newer ...  Positive
8        Worst experience of my life trying to deal...  Negative
9        Due to code sharing with Cathay Pacific I ...  Negative
..                                                 ...       ...
995      Mumbai to Edinburgh via London. I'm quite ...  Positive
996      Mumbai to London Heathrow. Disappointing e...  Positive
997      Delhi to London. Having read many negative...  Positive
998     When you travel British Airways its like yo...  Positive
999      British Airways gets plenty of well deserv...  Positive

[813 rows x 2 columns]

In [31]:
#encoding the positive, neutral and negative reviews
sentiment_mapping = {'Negative': 0, 'Neutral': 1, 'Positive': 2}
data['Sentiment'] = data['Sentiment'].map(sentiment_mapping)

C:\Users\PC\AppData\Local\Temp/ipykernel_7508/1366989064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Sentiment'] = data['Sentiment'].map(sentiment_mapping)

In [32]:
print(data)

                                               reviews  Sentiment
3       Had the worst experience. The flight from L...          0
4        The ground staff were not helpful. Felt li...          0
5        Second time BA Premium Economy in a newer ...          2
8        Worst experience of my life trying to deal...          0
9        Due to code sharing with Cathay Pacific I ...          0
..                                                 ...        ...
995      Mumbai to Edinburgh via London. I'm quite ...          2
996      Mumbai to London Heathrow. Disappointing e...          2
997      Delhi to London. Having read many negative...          2
998     When you travel British Airways its like yo...          2
999      British Airways gets plenty of well deserv...          2

[813 rows x 2 columns]

In [33]:
data['Sentiment'].value_counts()

2    430
0    371
1     12
Name: Sentiment, dtype: int64

In [34]:
column_check='Sentiment'
data[data.duplicated(subset=column_check, keep=False)]

                                               reviews  Sentiment
3       Had the worst experience. The flight from L...          0
4        The ground staff were not helpful. Felt li...          0
5        Second time BA Premium Economy in a newer ...          2
8        Worst experience of my life trying to deal...          0
9        Due to code sharing with Cathay Pacific I ...          0
..                                                 ...        ...
995      Mumbai to Edinburgh via London. I'm quite ...          2
996      Mumbai to London Heathrow. Disappointing e...          2
997      Delhi to London. Having read many negative...          2
998     When you travel British Airways its like yo...          2
999      British Airways gets plenty of well deserv...          2

[813 rows x 2 columns]

In [35]:
data[data['Sentiment']==1]

                                               reviews  Sentiment
115      British Airways is late, their website is ...          1
171      For this 5 hour 15 min flight, you are giv...          1
177      Over 1 week ago I cancelled 2 Club Europe ...          1
279      British Airways has scrapped the mandatory...          1
323      After 1h queuing at the check-in desk, I a...          1
379     BA cancelled flight in Dec 2020. Refund was...          1
425      At check-in desk at T5 Heathrow was told b...          1
448      I am flying London to Seattle in Business ...          1
488     My partner and I spent Christmas in Tokyo. ...          1
547      San Jose to London. The TV screen of 12F w...          1
715      Lima to Gatwick. Helpful and courteous cab...          1
753      I booked my BA flight from Zurich to Londo...          1

        Sentiment
count  813.000000
mean     1.072571
std      0.990545
min      0.000000
25%      0.000000
50%      2.000000
75%      2.000000
max      2.000000